*{
  box-sizing: border-box;
}
body

  margin: 0px;
  font-family: "open sans", sans serif;
  color: #555555;
  line-height: 1.3;
}

table{
  border:;
}

tr{
  border:yellow;
}

td{
  border: 3px solid #6b6b49;
}

.same {
  background-color: pink;
  text-align: center;
}
